<div
  [ngClass]="{ 'searchBar-sm': mobile == true }"
  class="searchBar d-flex justify-content-center"
>
  <div class="align-self-center ml-3">
    <img src="../../../assets/img/search.svg" class="img-fluid" alt="" />
  </div>
  <div class="align-self-center w-100">
    <input
      (input)="item = $event.target.value"
      (keyup.enter)="searchItem()"
      class="form-control form-control-lg shadow-none"
      type="text"
      placeholder="Search by Block Hash or Number / Txn Hash..."
      (focus)="focusFunction()"
      (focusout)="focusOutFunction()"
    />
  </div>
  <div class="align-self-center mr-2 linkDec" (click)="searchItem()">
    <img
      id="searchIcon"
      src="../../../assets/img/right-arrow.svg"
      class="img-fluid"
      alt=""
    />
  </div>
</div>
