<div class="container">
  <div class="container-intro">
    <h2 class="title">Conflict Prevention | Team Mission</h2>
    <p class="introduction-text">
      Topl's envisioned Peace Credit solution is intended to empower peace
      builders to better measure their peace outputs and additionally unlock
      a new source of innovative financing. With this first phase of the
      Peace Credit solution we aim to introduce increased transparency into
      the peace building space as well as deliver a new method of results-based
      financing that rewards the most productive changemakers rather than the
      most connected fundraisers. In the second phase of our project, we will
      be leveraging peace credits as a market-powered early warning system designed
      to interpret relative supply, demand, and velocity in the Peace Credit market
      as a distributed oracle for potential instability.
    </p>
    <hr class="hrLine">
  </div>
  <div class="row rounded listTable p-4">
    <div class="col-xl-7 rounded-left pb-3 mb-0">
      <div class="d-flex justify-content-left">
        <div class="tableHeading">
          Create Mission
          <hr class="hrLine2 border_custom">
        </div>
      </div>
      <div class="border_custom" style="overflow-x:scroll;">
        <div style="min-width: 605px;">
          <app-mission-form></app-mission-form>
        </div>
      </div>
    </div>
  </div>
</div>
